html,body{
  padding:0;
  margin:0;
}

*{
  box-sizing:border-box;
  margin: 0;
}


body{
  font-family: arial, sans-serif;
  margin:10px 0 0 0;
  height: 100%;
  font-size: 15px;
  
  
}

hr{
  border-style: none;
  border-top:  1px solid #c6c6c6;
  height: 1px;
  background-color: rgba(243, 234, 234, 0.979);
}
/*This header, .header-links, header>a are in use in the header*/
#header-container{
  display: flex;
  width: 100%;
}

.nav-list{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;

}

.nav-link{
  color: black;
  padding: 10px;
}

 .nav-list a{
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
}

.nav-list a:hover{
  text-decoration: underline;
}
 
.btn{
  background-color: #4285f4;
  border: 1px solid #4285f4;
  color: #f2f2f2;
  font-weight: bold;
  border-radius: 2px;
  padding: 5px;
  cursor: default;
  margin-right: 20px;
  font-size: 13px;
  
}


.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.img{
  display: block;
  margin: 0 auto;

}

#input-search{
  margin: 10px;
  width: 500px;
}

#btn-group{
  margin: 10px;
}

[type="submit"] a{
  text-decoration: none;
  color: #333;
}

[type="submit"] a:hover{
  text-decoration: none;
  background-color: #f8f8f8;
  border-color: #c6c6c6;
}

#google-lang{
  margin: 30px 0 0;
  padding: 10px;
}

#google-lang a{
  margin: 3px;
  text-decoration: none;
}

#google-lang a:hover{
  text-decoration: underline;
}

.site-footer{
  background-color: rgba(245, 239, 239, 0.993);
  border-top: 1px solid #c6c6c6;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 100px 0 0 0;
  position: absolute;
  width: 100%;
  
}


#foot-nigeria{
  margin: 10px 0;
}

.site-footer-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0; 
}

.site-footer-nav a{
  text-decoration: none;
  color: #333;
  display: inline-block;
}

.site-footer-nav a:hover{
  text-decoration: underline;
}

.footer-left-nav{
  width: 40%;
  display: flex;
  justify-content: space-between;
 
}

.footer-right-nav{
  width: 20%;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
