* {
  box-sizing:border-box;
  margin: 0;
}


body {
  font-family: arial, sans-serif;
  margin:10px 0 0 0;
  height: 100%;
  font-size: 14px;  
}

hr {
  border-style: none;
  border-top:  1px solid #c6c6c6;
  height: 1px;
  color: #c6c6c68f;
  background-color: rgba(243, 234, 234, 0.979);
}
/*Header Styles. */
#header-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  align-items: center;

}

.nav-link {
  color: black;
  padding: 10px;
}

 .nav-list a {
  text-decoration: none;
  display: inline-block;
  line-height: 40px;
}

.nav-list a:hover {
  text-decoration: underline;
}
 
.btn {
  background-color: #4285f4;
  border: 1px solid #4285f4;
  color: #f2f2f2;
  font-weight: bold;
  border-radius: 2px;
  padding: 7px;
  cursor: default;
  margin-right: 20px;
  width: 80px;
  
}

/* Main Element Styles. */
.page-wrapper  {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0 0 0;
  width: 100%;
}

#main-logo {
  display: block;
  /* max-width: 100%; */
  width: 300px;
  margin: 0 auto;
}

.searchbar {
  max-width: 100%;
  width: 100%;
  display: flex;
}

#input-search {
  height: 44px;
  margin: 10px  auto 10px;  
  width: 600px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 30px;
  outline: 0;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23)
}

#search {
  position: relative;
  top: 1.4rem;
  right: 58rem;
  width: 1rem;
  color: red;
  height: 1rem;

}

#microphone {
  position: relative;
  top: 1.4rem;
  right: 27.5rem;
  width: 1rem;
  color: dodgerblue;
  height: 1rem;
  
}

#btn-group {
  margin: 10px;
}

[type="submit"]  {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  line-height: 27px;
  margin: 0 5px;
  padding: 10px 20px; 
}

[type="submit"]:hover {
  background-color: white;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
  line-height: 27px;
  margin: 0 5px;
  padding: 5px 15px;
  text-decoration: none;
  cursor: pointer;
  
}

#google-lang {
  margin: 10px 0 0;
  padding: 10px;
}

#google-lang a {
  margin: 3px;
  text-decoration: none;
}

#google-lang a:hover {
  text-decoration: underline;
}

/* Footer Styles */
.site-footer {
  background-color: #fff;
  border-top: 1px solid #c6c6c68f;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  
}


#top-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  color: #817e7eef;
}



.site-footer-nav {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.site-footer-nav a {
  text-decoration: none;
  color: #817e7eef;
  display: inline-block;
}

.site-footer-nav a:hover {
  text-decoration: underline;
}

.footer-left-nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
 
}

.footer-right-nav {
  width: 20%;
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
}
