html,body{
  padding:0;
  margin:0;
}

*{
  box-sizing:border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  margin:10px;
  font-size: 15px;
  font-style: italic;
  
}

/*This header, .header-links, header>a are in use in the header*/
header{
  float: right;
  
}

.header-links{
  color:black;
  padding:10px;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}
 
[type="button"]{
  background-color: rgba(0, 153, 255, 0.575);
  border-radius: 5px;
  padding:5px;
  cursor: pointer;

}


main {
  width:500px;
  margin:auto;
}


button:hover{
  border-radius: 5px;
  text-decoration: none;
  background-color: white;
  color:#333;
  cursor:pointer;
}


.button:hover{
  background-color: royalblue;
}

/*This style is in use in the main element*/
#center-maincontent{
  text-align:center;
  margin:70px 50px;
}

img{
  display:block;
  margin:auto;
}

.lang{
  padding:0 5px;
}

[type="submit"]{
  background-color: #f2f2f2;
  border:1px solid #f2f2f2;
  padding: 0 16px;
  border-radius: 4px;
  padding:5px;
  cursor: pointer;

}
 

.input-field { 
  background-color: transparent;
  width: 100%; 
  padding: 10px; 
  text-align: center;
  border-radius: 20px;
}


/*The footer styles*/


footer { /* Footer height */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;  
  background-color:#f2f2f2;
  border:1px solid #f2f2f2;
  color:grey;
            
}

.footer-links{
  margin-bottom:10px;
  padding:10px 10px 10px 0;
  color:grey;
}

.country{
  border-bottom: #f2f2f5;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
